{% extends "layout.html" %}

{% block title %}
    CourseworX: Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" autocomplete="off" required name="email" placeholder="example@gmail.com" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" required name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-dark" type="submit" name="action" value="login-student">Log In Student</button>
        <button class="btn btn-dark" type="submit" name="action" value="login-lecturer">Log In Lecturer</button>
    </form>
{% endblock %}
